In [ ]:
IT 
# Information Technology

In [ ]:
data
information

In [ ]:
snehal maurya
AB+
19
Bhagvan Mahavir
BCA
2345678
123456789
301 tops technologies
National Player


aisa aisa ...
kjasnd;la
sdfknashjdgka

In [ ]:
english                   python
alphabets                 variable, datatypes, operators
words/sentence            functions, modules, packegs
grammer                   oop, exceptions, file

In [ ]:
# programming language
php, R, c, java, c++, JS, c#

In [ ]:
menil
Menil
meniL
Menil

In [ ]:
#python features
1. best programming language in the world
2. the Easiest programming language in the world
3. case sensitive
4. open source
5. portable

In [ ]:
uppercase 
lowercase

In [ ]:
guido van rossum
1991 1995

In [ ]:
linux
windows , macOS
android, ios, linux
solaris

In [ ]:
# Datatypes of Python
22 - (int) integers
5.5 - float

# string (str)

In [ ]:
-92

In [ ]:
302

In [ ]:
89.9
12.0
12
67.8
909
999

In [ ]:
'kite'
"gigi hadid"

'this is python programming language.'

'301, jeevandeep complex, ring road, surat'

"""Python is a high-level, general-purpose programming language.
Its design philosophy emphasizes code readability with the use
of significant indentation.
Python is dynamically typed and garbage-collected.
It supports multiple programming paradigms,
including structured, object-oriented."""

In [ ]:
Multiline string : triple single/double quotes

In [ ]:
! exclaimation sign
@ at the
#
$
% modulo, modulous
^ cap
& and
*  asterisk
() [] {}
> great
< less
: colon
; semicolon
.
-
_
| pipe
/ forward slash
\ backward slash
~ tilde
` backtick ,acute quote

In [ ]:
snehal : c, c ++, sql, html, css, 
siddhesh : c, c++, sql

In [ ]:
#Datatypes 
34 - int
45.6 - float
'kendall jenner' - str

In [ ]:
12.23
234.4
45.6
56.7

In [ ]:
'this is ritesh ambani.'

"""this is snehal maurya..
ganapati bhagwan."""

'lion'

'23.56'

In [ ]:
'56.895263'
'23'

In [ ]:
# boolean (bool)
True
False

In [ ]:
'true'
True
False

In [ ]:
# collection datatypes
(23,345,546) : tuple
[3,34,54,5] : list
{23,34,45,7,9} : set
{12:34,'a':4, 90:9} : dict (dictionary)

In [ ]:
'water'

In [ ]:
integer, float, string, dictionary, boolean, tuple, set, list

In [ ]:
# {23:4,67:89}
# (5,6,7,8)
# {4,5,6,7}
# [2,3,3,6]

In [ ]:
True
False

In [ ]:
'23.45'

In [ ]:
"-78.90"

In [ ]:
# variable, container
# datatypes
# operators

In [ ]:
bottle = 'water'

In [ ]:
# Syntax:(format)
variable = data/value

In [ ]:
#ye line pe data container mein store ho rha hai
#value hai wo variable mein store ho rahi hai
# variable define ho rha hai
waah = 90

In [ ]:
a = 'k'

In [ ]:
print(waah)

In [ ]:
bag = 'books'
print(bag)

In [ ]:
prerna_gupta = 6
print(prerna_gupta)

In [ ]:
# variable name rules / Identifier Rules
1. first character can be either _ or alphabets(upper/lower)
2. can contain ONLY _ , alphabets , numbers
3. YOU CAN NOT USE KEYWORDS

In [ ]:
#keyword (already defined)
# GVR
For = 90

In [ ]:
u= 9.7

In [ ]:
type(u)

In [ ]:
billie = 'kuch bhi'
print(billie)

In [ ]:
a = 10
a = 2.0
a = 15
type(a)

In [ ]:
mike = 'tyson'
print(mike)
mike = 32
print(mike)
mike = True
mike = 8.3
print(mike)

In [ ]:
var1 = 90
print(var1)

In [ ]:
var1 = 90
var2 = 90
var3 = 90

In [ ]:
var1 = var2 = var3 = 89

In [ ]:
print(var3)

In [ ]:
a,b,c = 12, 34, 45

In [ ]:
print(c)

In [ ]:
f1, f2, f3 = 23, 34, a

In [ ]:
print(f3)

In [ ]:
X1 = 10
r1 = X1 #r1 = 10
print(r1)

In [ ]:
# Types of Operators
# Operator : who performs some task
# operands : On whom the task is being performed

#types of operators
# 1. Arithmetic Operator
# 2. Assignment Operator 
# 3. Comparision Operator
# 4. Logical Operator
# 5. Membership Operator
# 6. Identity Operator

In [ ]:
# 1. Arithmetic Operator
+ #addition operator
- #substraction operator
* #multiplication 
/ #division operator
// #floor division operator
** #power
% #modulo , modulous

In [ ]:
# 12 + 8
# 12.0 + 8.0
1.2 + 3

In [ ]:
90 - 9
8 - 4.5

In [ ]:
12 * 4

In [ ]:
5 * 2.5

In [ ]:
1.0 * 0.0

In [ ]:
10 / 5 #Hummesha float mein answer dega

In [ ]:
10 / 5

In [ ]:
10 / 10

In [ ]:
1,2

1
1

In [ ]:
10 // 3

In [ ]:
10 // 9

In [ ]:
25 // 5

In [ ]:
#Syntax:
# base ** power
5 ** 2

In [ ]:
2 ** 3

In [ ]:
10 % 6 # returns the remainder

In [ ]:
    ___1____
  6 |  10
      - 6
    ----------
        4

In [ ]:
15 % 9

In [ ]:
90 - 34

In [ ]:
# 2. Assignment Operators
=
+=
-=
*=
/=
**=
//=
%=

In [ ]:
h1 = 90
h1 -= 34 # h1 = 56
h1 -= 10 # h1 = 46
print(h1)

In [ ]:
# Interpreter IGNORES comments & white spaces

In [ ]:
tyson = 'mike' #lvgbg bkh n/lki h'oh'olhi'lh



print(tyson)

In [ ]:
eric = 50
eric += 10 # eric = eric + 10
print(eric)

In [ ]:
r1 = 56
r1 **= 0 #r1 = r1 ** 0
print(r1)

In [ ]:
y = 10
y %= 10 # y = 0
print(y)

In [ ]:
ui = 45
ui *= 15.0 # ui = 675.0
print(ui)

In [ ]:
15.0 * 45

In [ ]:
tyson = 90 
tyson %= 1.0 # tyson = 0.0
print(tyson)

In [ ]:
#3. Comparision Operators
== double equals
> 
<
<= less than OR equals to
>= greater than OR equals to
!= nott equals

In [ ]:
operand1 operator operand2

In [ ]:
1 == 1 #returns True if both sides have SAME VALUES, 
# else it will return False

In [ ]:
# Interpreter IGNORES comments & white spaces




# comment: from hashtag to REST OF THE LINE

In [ ]:
True
False

In [ ]:
12 == 12.0

In [ ]:
12 == 11.99

In [ ]:
12 == 11.999

In [ ]:

12 == 11.9999999999999999

In [ ]:
4 > 4 #returns True if LEFT SIDE is bigger than RIGHT SIDE
#else returns False

In [ ]:
56 < 56  #returns True if RIGHT SIDE is bigger than LEFT SIDE
#else returns False

In [ ]:
90 <= 90 #returns True if both sides has SAME VALUES or
# LEFT SIDE is smaller than right side, else returns False

In [ ]:
7 >= 7.0

In [ ]:
12 != 12 #returns True if both sides has DIFFERENT VALUES,
# else returns False

In [ ]:
# 4. Logical Operators
and, or, not

In [ ]:
# pen and pencil

True and False #==> False
False and True #==> False
True and True #==> True
False and False #==> False

In [ ]:
# pen or pencil #or = या
True or False #==> True
False or True #==> True
True or True #==> True
False or False #==> False

In [ ]:
# not operand1
not False

In [ ]:
#5. Membership Operators
in 
not in
#Syntax:
# entity/value in group,Iterable

#Iterable Datatypes
str, set, tuple, dict, list

In [ ]:
6 in (34,56,67,7,8)

In [ ]:
'Scot ' in 'Travis Scott'

In [ ]:
9 in {4,5,6,7,89,9}

In [ ]:
# {key : value}
0 in {'a':0, 'b':23, 't':45, 19:9990, 0:23}

In [ ]:
6 in [4,5,67, 2 * 3.0]

In [ ]:
8 not in (23,345, 16 /2)

In [ ]:
'k' not in 'Kendall Jenner'

In [ ]:
# 6. Identity operator
# Memory Address
is
is not

In [ ]:
a = 90
b = 90
a is b
a == b

In [ ]:
y = 10
u = 20
y is u

In [ ]:
# is & ==
# == returns True when both sides has SAME VALUES
# is returns True when both sides has SAME IDs

In [ ]:
list1 = [3,4,5]
list2 = list1[::]

print(list2)

In [ ]:
list1 == list2 #== values check karta hai

In [ ]:
list1 is list2 #is ID check karta hai

In [ ]:
print(id(list1), id(list2))

In [ ]:
list1 is not list2

In [ ]:
#Conditional Statements

1. if
2. if else
3. elif
4. nested if

In [ ]:
#Syntax:
if condition:
    boc, suite, (block of code)
    
4 white spaces:
Indentation

In [ ]:
num = 8
if num < 10:
    print('python')
    print('language')
    
    
    
    
    print('programming')
    print('school')
    print('best')

In [ ]:
# block of code mein Indentation Continuous HONA CHAHIYE

In [ ]:
# Agar condition True hoti hai to boc EK BAAR execute karna hai

In [ ]:
rasta = 'gila'
if rasta == 'gila':
    print('baarish hui thi')

In [ ]:
# agar variable define nahi kiya hai 
# AUR USE KAR LIYA to NameError aayega

In [ ]:
if 10.99 == 10.999:
    print('suffering from success')

In [ ]:
if 10 % 5 == 0:
    print('chatur')

In [ ]:
dog = wagon = 'equals to'
dogg = 'snoop'
if dogg == dogg:
    print('Wiz Khalifa')
else:
    print('Lil skies')

In [ ]:
joe = goldberg = 'beck'
king, queen, joker = 'Ace', 'Pro', 'Junior'

if ('k' in king) or (joe is 'goldberg'):
    print('succeessss')
else:
    print('fasle')

In [ ]:
print(id('beck'), id('goldberg'))

In [ ]:
# Agar condition True ho to IF KA BOC
# Agar condition False ho to ELSE KA BOC

In [ ]:
y = u = i = o = 90
if u in [34,56,6,10,9] or False or False or []:
    print('tventitoo')
else:
    print('mc stan')

In [ ]:
if 'pppolo':
    print('lion')
else:
    print('arijit')

In [ ]:
Falsy values
0, 0.0, '', [], (), {}, set()
# {} Empty Dictionary


Truish values
456789,-5678,0.4567

In [ ]:
if [[]]:
    print('lllist')
else:
    print('nirobi')

In [ ]:
y = 90
if 'O' in 'yolo':
    print('treeeeeee')
else:
    print('zameeeeeen')

In [ ]:
u1 = 89 + 1
if u1 in [34, 56, 90]:
    print('gigi')
else:
    print('zayn')

In [ ]:
j = 'o'
jj = 'polar bear'
if j not in jj:
    print('hello')
else:
    print('helllo')

In [ ]:
_if, if_ = 'if', 'if'
if 'if' is not 'if':
    print('if')
else:
    print('ifffffffff')

In [ ]:
print(id('if'), id('if'), id('if'))

In [ ]:
3 ** 6

In [ ]:
3 ** 3 + 3

In [ ]:
elses = 40.0
elsa = 40
elsu = False
if elses % elsa == elsu:
    print('hmmmmmmmm hmmmmmm')
else:
    print('ugh ugh')

In [ ]:
y = 90
y = 990
y = 9990
y = 'y'
if y != 'y' and y is y == 90 and y in 'why':
    print('may')
else:
    print('vroom... vroooooom.... vroom')

In [ ]:
if 1 == True:
    print('snehal')
else:
    print('menil')

In [ ]:
if [] :
    print('lion')
else:
    print('tiger')

In [ ]:
[] ~ False

In [ ]:
10 = 10.0

In [ ]:
0 = 0.0 = False, 1 = 1.0 = True
12~True,90~True
set() ~ False

In [ ]:
if condition:
    boc
else:
    boc

In [ ]:
if False:
    print('False')
else:
    print('True')

In [ ]:
# agar and ke baaju mein False hai to aage CHECK KARNA HI HAI

In [ ]:
u = 'o'
yu = 'pocoloco'
you = 'hi joe'
if u in 'you' and yu is u or you:
    print('python')
else:
    print('programming')

In [ ]:
(False and True or False and True or True and True

In [ ]:
bodmas
bracket, oooo, divide, multiple, addition, substraction

In [ ]:
#Elif (elif utarnewali ladder)
# 0 - neutral
o = int(input())
# input ke 2 kaam hai
# 1. box open karna
# 2. jo bhi enter kiya hai usko string bana dega

In [ ]:
type(o)

In [ ]:
Typecasting
from one datatype to another datatype

In [ ]:
print(o)

In [ ]:
type(o)

In [ ]:
type(56)

In [ ]:
y = int('90')
type(y)

In [ ]:
y = int(56.78) #float --> int
print(y)

In [ ]:
i = '56.89'
u = float(i)
type(u)

In [ ]:
i = '56.89' #str --> int
g1 = int(i)
print(g1)

In [ ]:
i = int(input()) #you can not convert a string CONTAINING OTHER THAN numbers into integer

In [ ]:
i = int(input())
if i > 0:
    print('ye number positive hai')
elif i == 0:
    print('ye number neutral hai')
else:
    print('ye number negetive hai')

In [ ]:
num = int(input())
if num < 0:
    print('negetive')
else:
    print('positive')

In [ ]:
num = int(input())
if num

In [ ]:
# constraints: only integers 0..100
91, 92, 93,..99, 100 : A
81,82,83..89,90 : B
71 - 80 : C
61 - 70 : D
0 - 60 : FAIL

In [ ]:
num = int(input("1 se 100 ke bich mein se do number:")) #36
if num >= 91 and num <= 100:
    print('A')
elif num >= 81 and num <= 90:
    print('B')
elif num >= 71 and num <= 80:
    print('C')
elif num >= 61 and num <= 70:
    print('D')
elif num >= 0 and num <= 60:
    print('FAIL')
else:
    print('invalid input')

In [ ]:
# number ka table print karna hai
k = int(input()) #k = 8
print(k * 1,
k * 2,
k * 3,
k * 4,
k * 5,
k * 6 ,
k * 7,
k * 8,
k * 9 ,
k * 10)

In [ ]:
k = int(input()) # 2
i = 1
if k * i <= k * 10:
    print(k * i)
    i+= 1
if k * i <= k * 10:
    print(k * i)
    i+= 1
if k * i <= k * 10:
    print(k * i)
    i+= 1
if k * i <= k * 10:
    print(k * i)
    i+= 1
if k * i <= k * 10:
    print(k * i)
    i+= 1
if k * i <= k * 10:
    print(k * i)
    i+= 1
if k * i <= k * 10:
    print(k * i)
    i+= 1
if k * i <= k * 10:
    print(k * i)
    i+= 1
if k * i <= k * 10:
    print(k * i)
    i+= 1
if k * i <= k * 10:
    print(k * i)
    i+= 1

In [ ]:
2 4 6 8 10 12 14 16 18 20 
8
16
24
32
40
48
56
64
72
80

In [ ]:
# nested if
num = int(input())
if num < 1:
    if num == 0:
        print('zero')
    else:
        print('negEtive')
else:
    print('positive')

In [ ]:
# Looooooop: repeatedly task perform karna hai

# Iterable : Jiske upar tum Iterate kar sako
# Iterate : pass hone through hona
# for Iteration : element variable mein store karna aur ek baar boc execute
# while Iteration : condition check karna aur ek baar boc execute


# 1. for
# 2. while

# 3. nested loops

In [ ]:
# 2. while
#Syntax:
while condition:
    boc/suite

In [ ]:
# agar condition check karne pe True milta hai to BOC ek baar execute karna hai
# agar BOC ek baar execute kiya hai to condition check karni hai

In [ ]:
# agar condition check karne pe False milta hai to while looooop end ho jata hai

In [ ]:
y = 45
while y < 50:
    print('sir aapki marzi')
    y += 5 # y = 50

In [ ]:
i = 1
k = int(input())
while k * i <= k * 10:
    print(k * i)
    i+= 1

In [ ]:
#constraints
# 1.... 100 : only Integers
# 2,3,4...10 ke tables check
number = int(input()) # 20

"2's table"
"4's table"
"5's table"
"10's table"

In [ ]:
22
'bhagwan'

In [ ]:
45

"5's table"
"9's table"

In [ ]:
72
"8's table"
"9's table"

In [ ]:
Ek Iteration

In [2]:
num = int(input()) # 22
i = 2
print_hona_chahiye = True

while i < 11:
    if num % i == 0 and num <= i * 10:
        print_hona_chahiye = False
        print(i,"'s table")
    i += 1

if print_hona_chahiye:
    print('bhagwan')

22
bhagwan

In [ ]:
 else:
        print('bhagwan')

In [ ]:
# 2. for
#Syntax:
for variable_name in Iterable:
    boc

In [ ]:
Iterable Datatypes: str + Collection
Collection : list, tuple, set , dict

In [4]:
for var1 in (23,45,56,78,89): #var1 = 89
    print('akhanda', var1)

akhanda 23
akhanda 45
akhanda 56
akhanda 78
akhanda 89

In [ ]:
capable
Iterable : iterable wo hota hai jiske upar tum Iterate kar sakte ho

In [8]:
for i in "munna tripathi": #i = 'u'
    print(i, end='')

munna tripathi

In [9]:
for i in {'a':12, 't':23, 34:45}:
    print(i)

a
t
34

In [14]:
for j in {34,2,'phoolchand tripathi', 'guddu', 12}: #u should not use set because of it's ORDER ISSUE
    print(j)

phoolchand tripathi
34
2
12
guddu

In [29]:
for u in :
    print(u)

In [ ]:
# range(int, int, int)
range(start, stop, step)
range(start, stop)
range(stop)
default start = 0
default step = +1
STOP POINT : EXCLUSIVE

In [30]:
for u in range(1,5):
    print(u)

1
2
3
4

In [31]:
for u in range(5):
    print(u)

0
1
2
3
4

In [32]:
# -9, -7, -5, -3
for j in range(-9, -1, 2):
    print(j)

-9
-7
-5
-3

In [ ]:
# snehal
# -9, -8, -7,-6,-5,-4,-3,-2,-1,0,1

# prerna, siddhesh, mayur
# -9,-7,-5,-3,-0

#ritesh
# -9,-7,-5,-3,0

#menil
# ERROR

# ritik
# -9,-7,-5,-3,-1

In [36]:
for i in range(45,-5):
    print(i)

In [ ]:
#ritik, siddhesh
# 45,44,43,..-4

# ritesh
# no execution

# snehal
# sorry sir

# prerna, menil
# Error

# mayur
0,5,10,15,20,25...,35,40

In [25]:
for i in range(1,5): #i = 2
    print('*' * i)

*
**
***
****

In [23]:
*******
*****
***
*

****

In [27]:
num = 7
while num != -1:
    print('*' * num)
    num -= 2

*******
*****
***
*

In [26]:
for i in range(7,0,-2):
    print('*' * i)

*******
*****
***
*

In [ ]:
*
**
***
****

In [ ]:
  *
 * *
*   *
 * *
  *

In [ ]:
 *
* *
 *

In [ ]:
   *
  * *
 *   *
*     *
 *   *
  * *
   *

In [29]:
num = int(input()) # num = 5
rossi = 1
for i in range(num,0,-1): #(5,4,3,2,1)
    rossi *= i #rossi = 120
    
print(rossi)

5
120

In [30]:
# Nested Looops
for i in range(1,4): #outer loop # i = 1
    for g in 'ABC': #inner loop # g = 'A'
        print(i, g)

1 A
1 B
1 C
2 A
2 B
2 C
3 A
3 B
3 C

In [ ]:
for loop kab ruk jata hai ?
1. jab Iterable khatam ho jata hai.. #Natural
2. YA To loop break ho jata hai #non natural

In [ ]:
while loop kab ruk jata hai ?
1. jab condition false ho jata hai.. #Natural
2. YA To loop break ho jata hai #non natural

In [ ]:
# Control Statements:
break : loop will be terminated
continue : continue from the next iteration
pass : it does nothing, BUT IT PREVENTS INDENTATION
ERROR

In [35]:
num = 24
for i in range(num, num+1, -num+1-num): # (24, 25, 1)
    print(i)

In [38]:
for i in range(12,24,2):
    if i == 16:
        break
    else:
        print(i)

12
14

In [ ]:
# control is an illusion. - elliot alderson

In [ ]:
1 A

In [41]:
for i in range(1,4): #i = 1
    for g in 'ABC': # g = 'B'
        if g == 'B':
            break
        else:
            print(i, g)

1 A
2 A
3 A

In [44]:
for i in range(12,24,2):
    if i == 16:
        continue
    print('popstar')
    print('joji')
    print('headphones')
    print(i)

popstar
joji
headphones
12
popstar
joji
headphones
14
popstar
joji
headphones
18
popstar
joji
headphones
20
popstar
joji
headphones
22

In [55]:
# 3. pass : 
for i in range(1,5):
    pass
    pass
    print(i)
    pass

1
2
3
4

In [58]:
for i in [1,34,2,3]:
    pass
    
n = 75
while 78> n:
    print(n)
    n += 1

75
76
77

In [ ]:
for i in [23,4,56]:

In [ ]:
# continue current Iteration chhod ke next iteration se continue karega

In [ ]:
# String
# characteristics
Ordered, Indexed, Immutable, Allows duplicate characters

In [6]:
v21 = 'io '
print(v21)

io

In [8]:
len('joker ')

6

In [9]:
y = "~!@#$%^&*()_qwertyuioQWERTYUIO  "
len(y)

32

In [14]:
str1 = 'he said, "blah blah"..'
print(str1)

he said, "blah blah"..

In [22]:
u = "pocoloco 'is a cocoloo' is \"rin powder\" hi jack"
print(u)

pocoloco 'is a cocoloo' is "rin powder" hi jack

In [ ]:
# escape characters
\'
\"
\\ 
\n : new line
\t : tab 
\b : backspace

In [49]:
g = 'li/o\n \n7'
print(g)

li/o

7

In [32]:
str1 = "\\\"" # \ "
print(str1)
# y\n\/

\"

In [36]:
u = r'\\\\\\\\\\\\\\\\'
print(u)

\\\\\\\\\\\\\\\\

In [26]:
# raw string
u = r'\home\devv\docs\pytho\n_batches\24_Feb_Siddhesh_Mayur'
print(u)

\home\devv\docs\pytho\n_batches\24_Feb_Siddhesh_Mayur

In [58]:
u = 'li\ttiger'
print(u)

li\ttiger

In [63]:
i = "😞"
len(i)

1

In [67]:
# tasks
ui =  'serial' + 'killer'
#concatenation

In [68]:
print(ui)

serialkiller

In [73]:
u = 'fig'
tyson = "dior"
res = u + tyson + u * 2
print(res)

figdiorfigfig

In [76]:
for i in 'index':
    print(i)

i
n
d
e
x

In [ ]:
1. Positive Indexing: 0,1,2,3... from left to right 
2. negAtive Indexing : -1,-2,-3,..-8 from right to left

In [90]:
str1 = 'locker is locker.. ahdfihja asd asd '
you = str1[-8]

In [92]:
print(str1)

locker is locker.. ahdfihja asd asd

In [ ]:
# syntax:
# string[indexvalue]

In [100]:
u = 'dojo data science'
y1 = u[-4]
y2 = u[-2]

In [102]:
y1

'e'

In [ ]:
#Everything is An OBJECT

In [21]:
# Immutable = You can not change 
str1 = "tyson"
str1[-4] = 'Y'
str2 = 'tYson'

TypeError: 'str' object does not support item assignment

In [16]:
# Mutable
l1 = [34,56,7]
l1[-1] = True

In [17]:
print(l1)

[34, 56, True]

In [39]:
#slicing
# str1[start:stop:step]
# str1[start:stop]
# str1[index]
str1= 'haruki murakami'
str1[::-1]

'imakarum ikurah'

In [42]:
str1[3:-2:2]

'uimrk'

In [54]:
str2 = "why y waay"
str2[-34:-9]

'w'

In [ ]:
# string datatype Immutable hai usme kisi 
# bhi type ka change nahi ho sakta hai...

In [60]:
# Methods
str1 = 'banana'
#Synatx:
# str1.method_name()

# str1.count('na') #returns the occurence of the given substring
# Ans: 2

# str1.count('X') #returns 0 if the given substring is not present
#Ans: 0

0

In [75]:
str1 = 'haruki MURAKAMI'
# str1.capitalize()  # string ka first character uppercase, rest of the characters lowercase
#Ans: 'Haruki murakami'

str1.title() #each word's first character will be UPPER CASE and
# rest of the letters will be in lowercase
#Ans: 'Haruki Murakami'

' Haruki Murakami'

In [79]:
str23 = "kite fesTIVAL"
y = str23.upper() #all characters will be in uppercase
print(y)

KITE FESTIVAL

In [80]:
str23 = "kite fesTIVAL"
str23.lower() #all characters will be converted in lowercase

'kite festival'

In [87]:
str23 = "kite α fesTIVΑ Β B  Γ γ  β  AL Ⅱ II"
str23.casefold() #all characters will be forcefully converted in lowercase

'kite α festivα β b  γ γ  β  al ⅱ ii'

In [91]:
str23 = "ß"
str23.lower()

'ß'

In [92]:
str23 = "ß"
str23.casefold()

'ss'

In [ ]:
# John Wick: Chapter 4

In [3]:
str3 = 'lion and tiger'
str3.count('on')

1

In [4]:
res = 0
for i in 'pocoloco': # i = 'p'
    res += 1
print(res)

8

In [ ]:
# round brackets ke andar ARGUMENTS likhte hain

In [21]:
# y = 100_000_000_000
# print(y)

100000000000

In [42]:
u = 'qwerty' # 100_000_000_000
#Sytax:
# str.center(length, fill character)
# str.center(int)
# str.center(int, str)
# u.center(10, '$')
# u.ljust(10,'T')

message = 'dikhna mat yahan pe'
message.rjust(len(message)+4, '*')
# '****dikhna mat yahan pe'

bill = '1234'
#str.zfill(length) # aligns right side, fills the white characters with zero
bill.zfill(len(bill)+2)

'001234'

In [15]:
str1 = 'killer'
# str1.endswith('iler') # checks whether the given substring is at the end of the string or not
# boolean mein answer deta hai
str1.startswith('kller')
# boolean mein answer deta hai

False

In [28]:
g = """Pythong is a high-level, general-purpose programming
language. Its design philosophy emphasizes code readability
with the use of significant indentation via the off-side rule.
Python is dynamically typed and garbage-collected."""
g.find('g') #left to right , first occurence
g.find('mayur') # if the given substring is not present then it will 
# return -1

-1

In [45]:
g = """Pythong is a high-level, general-purpose programming
language. Its design philosophy emphasizes code readability
with the use of significant indentation via the off-side rule.
Python is dynamically typed and garbage-collected."""
i1 = g.index('X') # if substring not found , RAISE AN ERROR
f1 = g.find('X') # if substring not found, return -1

In [46]:
print(f1)b

-1

In [60]:
str4 = 'this is guido van rossum'
# str.find(substring, start, stop)
# str.index(substring, start, stop)
str4.find('is',3,4)

-1

In [67]:
str4 = 'this is guido van rossum'
# str4.rfind('is') # right to left, first occurence
#ans: 5

# str4.rindex('is') # right to left, first occurence
#ans: 5

5

In [74]:
# placeholders {}
str4 = 'Hello {}!!\nWelcome to this webapp.\nYour OTP is {}'
res = str4.format('keanu', 5656)
print(res)

Hello keanu!!
Welcome to this webapp.
Your OTP is 5656

In [7]:
# f string
import random
print(f"Hello {input()}!!\nWelcome to this webapp.\nYour OTP is {random.randint(1000,9999)}")

reena
Hello reena!!
Welcome to this webapp.
Your OTP is 4150

In [148]:
str3 = 'hi'
# str3.swapcase() # upper ==> lower & lower ==> upper

#Syntax:
# seperator.join(Iterable)
# str3.join('123')

# seperator.join(Iterable)
' '.join('KITE')

'K I T E'

In [47]:
y = r'\n'.join(['Quavo','West','tOps'])

In [48]:
print(y)

Quavo\nWest\ntOps

In [68]:
str4 = 'python languageca'
# str.replace(to be replaced, replcement, occurence)
str4.replace('a','TARA',2)

'python lTARAnguTARAgeca'

In [71]:
str4 = 'ki hi gi fi di si ai'
l1 = str4.split() # splits from spaces returns A LIST

In [72]:
' '.join(l1)

'ki hi gi fi di si ai'

In [ ]:
4 : menil

In [75]:
tyson = 'tyson'
tyson += tyson.find('tyson'.index(tyson.rfind('nosyt')))
print(tyson)

TypeError: must be str, not int

In [77]:
str3 = 'qwerqwe\tyu'

# str3.partition()
# str3.rpartition()
# str3.split()
# str3.splitlines()

'qwerqwe yu'

In [101]:
str3 = 'tyso\tson'
# str3.expandtabs(4)

'tyso    son'

In [78]:
#siddhesh, menil --> 'ty   son' 3
#ritesh, prerna --> 'ty      son' 6
#mayur --> 'ty    son' 4

In [106]:
str3 = '   . rita skjdf asdhja d        d      '
# str3.strip() # strips from both sides
# str3.lstrip() #strips only from the left side
str3.rstrip()

'   . rita skjdf asdhja d        d'

In [109]:
str4 = 'kite'
# returns a tuple, containing 3 parts(strings)
str4.partition('it')

('k', 'it', 'e')

In [118]:
str5 = 'lion & tiger lion'
str5.partition('lion') #starts finding substring from left to right

('', 'lion', ' & tiger lion')

In [125]:
''+'a' + '' + 'b'

'ab'

In [126]:
str5 = 'lion & tiger lion'
str5.rpartition('X') # starts finding substring from right to left

ValueError: empty separator

In [127]:
# input()
# 1. box open karna
# 2. value ko string banana

23

'23'

In [130]:
print(3,4,5,6)
# 1. values ko print karna
# 2. values print karne ke baad, cursor new line pe bhejna

3 4 5 6

In [147]:
print(2,3,4,5, end = '#\n', sep = 'quavo')
print('loki')

2quavo3quavo4quavo5#
loki

In [ ]:
# SNEHAL KO 150 baar datatypes likhke aana  
# Immutable: you can not change
string, tuple, int, float, bool

# Mutable: you CAN change
list, set, dict

In [157]:
str4 = 'lion and rita and add kar du to ye topic nahi padhaya hai'
# returns a list containing strings
#Syntax:
# str3.split(substring, max_split)
str4.split('a',2)

['lion ', 'nd rit', ' and add kar du to ye topic nahi padhaya hai']

In [167]:
str4 = 'lion and rita and add kar du to ye topic nahi padhaya hai'
str4.rsplit(' ',2)

['lion and rita and add kar du to ye topic nahi', 'padhaya', 'hai']

In [192]:
str4 = """tyson python
this is line 2 hello
this is line 3
this is line 4
this is line 5
this is line 6"""
# NAHI PADHAYA HAI
# 0 ke alawa integer number likhne pe \n ko bhi string mein consider
str4.splitlines(0)

['tyson python',
 'this is line 2 hello',
 'this is line 3',
 'this is line 4',
 'this is line 5',
 'this is line 6']

In [199]:
str5 = 'r1234567 itik'
# alpha numeric 
str5.isalnum() # ALL characters of the string is alnum or not
# if yes ==> True
# if no ==> False

str5 = 'killer 7'
str5.isalpha() # ALL characters of the string is alphabets or not

False

In [204]:
str5 = 'durjoy☹ dutta!@#$%^&* 45'
str5.isascii() #if ALL THE CHARACTERS are from ascii table then returns True,
# else return False

False

In [209]:
# identifier = name
str5 = '_5_joker'
str5.isidentifier()

True

In [215]:
str5 = 'r1234567 itik qwertyuisdfghjkl'
new = str5.upper()
# str5.islower() # if All characters are in lowercase then will return True. else False 
# new.isupper() # if All characters are in uppercase then will return True. else uppercase
# print(new)

R1234567 ITIK QWERTYUISDFGHJKL

In [234]:
# str5 = 'Python Programming'
# str5.istitle() # is given string in title format or not

# str4 = 'qwe\nr'
# str4.isprintable() # if all characters are printable then will return True,
# else will return False(escape characters)

str2 = '      .'
str2.isspace() # if all characters are space then it will return True
# else will return False

False

In [278]:
str4 = '⅖⁵Ⅱ'
# len(str4)
# str4.isdecimal() # if all characters are from 0123456789
# str4.isdigit() # if all characters are digits then returns True(⁵,3,0),
# else False('⅖⁵')
str4.isnumeric() # if all characters are numbers or not

True

In [281]:
str4 = "36.89"
str4.isnumeric()

False

In [ ]:
i
ii
iii
iv
v

In [ ]:
I
II Ⅱ || 
III

In [250]:
len('II')

2